%button {
  @include box-sizing('border-box');
  @include user-select('none');
  -webkit-touch-callout: none;
  background-clip: padding-box;
  border: 0;
  border-radius: 0.1em;
  cursor: pointer;
  display: inline-block;
  font: 100%/2.6 "Trade Gothic LT Std", sans-serif;
  letter-spacing: -1px;
  margin: 0;
  padding: 0 1em;
  position: relative;
  text-align: center;
  text-decoration: none !important;
}
